# Logs and local files
*.log
*.local

# Dependencies
vendor

# Storage
App/Storage/Logs/*
!App/Storage/Logs/.gitkeep
App/Storage/Cache/*
!App/Storage/Cache/.gitkeep
Public/upload/*
!Public/upload/.gitkeep

# Migration files
migration.json